{{- $choices := list "desktop" "laptop" "server" "termux" -}}
{{- $textEditor := promptChoiceOnce . "textEditor" "What type of host are you on" $choices -}}
[data]
    haha = {{- $textEditor | quote -}}
[git]
	autoCommit = true
	autoPush = true

