{{- $gitEmail := promptStringOnce . "gitEmail" "Git email address" -}}
{{- $gitName := promptStringOnce . "gitName" "git name" -}}
{{- $textEditor := promptStringOnce . "textEditor" "Text editor" -}}

[edit]
	command = {{ .textEditor }}

[git]
	autoCommit = true
	autoPush = true

[data]
	gitEmail = {{ .gitEmail }}
	gitName = {{ .gitName }}
	textEditor = {{ .textEditor }}
