{{- $textEditorsList := list "nano" "micro" "vi" "vim" "code" -}}
{{- $textEditor := promptChoiceOnce . "textEditor" "Chose your text editor:" $textEditorsList -}}

[data]
	gitTextEditor = {{ $textEditor | quote }}

[git]
	autoCommit = true
	autoPush = true

